body{
    background-color: whitesmoke;
}

#testContent {
    
    background-color: white;
    background-image: url("./assets/mainBG");

   }


   /* #textContainerMain{
    background-color: #B8B9BB;
    
} */


